@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Poppins:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
}
form {
  background: linear-gradient(45deg, #faffce, #79dae8, #0aa1dd, #450f9c);
  background-size: 300% 300%;
  animation: colors 10s ease infinite;
  width: 65%;
  height: 70%;
  padding: 20px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
}
form h1 {
  color: white;
  font-family: "Poppins";
  font-weight: 400;
}
form h1:hover{
  color: #009DAE;
}
form h2 {
  color: white;
  font-family: "Poppins";
  font-weight: 100;
  font-size: 18px;
}
button{
  position: relative;
  left: 45%;
  top: 5%;
  font-family: "Poppins";
  font-weight: 400;
  color: #ffffff;
  background-color: #009DAE;
  border: none;
}
#btn1{
  width: 15px;
  border-radius: 10px 0 0 10px;
}
#btn2{
  width: 40px;
}
#btn3{
  width: 15px;
  border-radius: 0px 10px 10px 0px;
}
button:hover{
  background-color: #007c8a;
}
.BTSUP1 {
  position: relative;
  top: 0%;
  left: 2%;
}
.BTSUP2 {
  position: relative;
  top: -5.7%;
  left: 18%;
}
.BTSUP3 {
  position: relative;
  top: -11.5%;
  left: 32%;
}
table{
  position: relative;
  left: 20%;

}
table, th, td{
  background-color: white;
  font-family: "Poppins";
  font-weight: 400;
  text-align: center;
  border-collapse: collapse;
  border: 1px solid #009DAE;
  color: #009DAE;
}
table, th{
  background-color: #009DAE;
  color: white;
  padding: 10px;
  
}
.BTSUP4 {
  position: relative;
  top: -17.5%;
  left: 47%;
}
@media screen and (max-width: 768px) {
  form {
    width: 90%;
    height: 90%;
  }
  .BTSUP1 {
    position: relative;
    top: 0%;
    left: 0%;
  }
  .BTSUP2 {
    position: relative;
    top: -4.6%;
    left: 27%;
  }
  .BTSUP3 {
    position: relative;
    top: -9.3%;
    left: 50%;
  }
  .BTSUP4 {
    position: relative;
    top: -14%;
    left: 75%;
  }
  table{
    position: relative;
    left: 0%;
  }
  button{
    position: relative;
    left: 45%;
    top: 5%;
  }
}
a {
  text-decoration: none;
}
